<div class='card'>
  <div class='card-header'>
    <h6>{{data.header}}</h6>
  </div>
  <div class='card-body text-bg-light'>
    <h5 class='card-title'>{{data.title}}</h5>
    <p>{{data.description}}</p>
  </div>

  <div class='card-footer'>
    <p>{{data.footer}}</p>
    <button
      class='btn btn-primary btn-sm'
    >{{button}}</button>
  </div>
</div>