
<div class='card mt-2'>
  <div class='card-body'>
    
    {{#with data}}
      <div>
        <img class="mb-2 card-img-top" src={{img}}>
        {{>catalogbage}}
          <h5 class='card-title'>{{name}}</h5>
         <p>{{review.amount}} {{review.text}}</p>
          <h3>{{price}}</h3>
          <p>{{delivery}}</p>
          <div class="pt-2">
            {{#each buttons}}
              {{>shoporderbutton data=this}}
          {{/each}}
          </div>
          
          <div class="ps-3">
              <ul>
                {{#each characteristics}}
                    <li>{{this.title}} {{this.value}}</li>
                {{/each}}
              </ul>
          </div>
        
      </div>
    {{/with}}
    </div>
  </div>
